<% if current_user.present? %>
    Share this referral code with your friends and you will be credited $20 when they sign-up with your referral code
    <br>
      <%= text_field_tag 'referral_link', new_user_registration_url(:referral_code => current_user.referral.code), readonly: true, class: 'form-control'%>
    <br> or share on social media
    <%= social_share_button_tag('Sign-up and get $20 bonus', :url => new_user_registration_url(:referral_code => current_user.referral.code)) %>
<% end %>
