<h1>Hello there!</h1>
<%= render partial: 'shared/referral_code' %>
<% if current_user.present? && current_user.account_summaries.any? %>
    <br>
    <span>Account summary</span>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
      </tr>
      </thead>
      <% current_user.account_summaries.each do |account_summary|%>
      <tr>
        <td><%= number_to_currency(account_summary.amount_in_cents.to_i / 100, :unit => "$") %></td>
        <td><%= account_summary.credit ? 'Credited' : 'Debited' %></td>
        <td><%= account_summary.created_at.to_date %></td>
      </tr>
      <% end %>
    </table>
<% end %>