<span>
  <%= link_to 'home', home_index_path%>
</span>

<span class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      Current account balance <%= number_to_currency(current_user.account_balance_in_cents / 100, :unit => "$") %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to 'Login', new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</span>
