<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head' %>
  <body>
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: 'layouts/header' %>
      <%= render partial: 'layouts/flash'%>
      <%= yield %>
    </div>
  </body>
</html>
